{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="card col-lg-3" >
    <div class="card-body text-center">
      <h5 class="card-title">TASKS CREATION & ORGANIZATION</h5>
      <p class="card-text">This enables the user to create tasks,
         assign due dates, set priorities and add relevant details such 
         as descriptions, tags and attachements.</p>
    </div>
    
  </div>

  <div class="card col-lg-3" >
    <div class="card-body text-center">
      <h5 class="card-title">TASKS CREATION & ORGANIZATION</h5>
      <p class="card-text">This enables the user to create tasks,
         assign due dates, set priorities and add relevant details such 
         as descriptions, tags and attachements.</p>
    </div>
    
  </div>

  <div class="card col-lg-3" >
    <div class="card-body text-center">
      <h5 class="card-title">TASKS CREATION & ORGANIZATION</h5>
      <p class="card-text">This enables the user to create tasks,
         assign due dates, set priorities and add relevant details such 
         as descriptions, tags and attachements.</p>
    </div>
    
  </div>
  </div

{% endblock%}