{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
<div class="col-md-3 card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Achieve More with</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
 
        Effective Task Management</h6>
      <p class="card-text">Take control of your productivity and unlock your full potential with Task Master, 
        the ultimate task management solution. </p>
    </div>
  </div>
  <div class="text-right col-md-3">
    <img src="" class="rounded" alt="...">
  </div>
  </div>
    
{% endblock %}