{% extends 'base.html' %}

{% block title %}{% endblock %}



{% block content %}
<br />
<div class="col-md-6 offset-md-3">

<form method='POST'>
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" >
      </div>
      <div class="mb-3">
        <label for="username" class="form-label" name="password">Username</label>
        <input type="text" class="form-control"  name="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" name="password">Password</label>
        <input type="password" name="password1" class="form-control" >
      </div>

      <div class="mb-3">
        <label for="password" class="form-label" name="password">Password</label>
        <input type="password" name="password2" class="form-control" >
      </div>
</form>
<button type="submit" class="btn btn-primary text-center">Sign Up</button>

</div>
    
{% endblock %}